In [ ]:
strOriginal = "53‡‡†305))6;4826)4‡.)4‡);806;48†8¶60))85;1‡(;:‡8†83(88)5†;46(;8896?;8)‡(;485);5†2:‡(;49562(5-4)8¶8;4069285);)6†8)4‡‡;1(‡9;48081;8:8‡1;48†85;4)485†528806*81(‡9;48;(88;4(‡?34;48)4‡;161;:188;‡?;"

In [2]:
caracteres = set(strOriginal)

In [3]:
print(caracteres)

{'-', '*', '?', '4', '1', '8', '.', '0', '¶', '3', '(', '2', '‡', '†', ':', ';', '9', '6', ')', '5'}

In [4]:
dictCaract ={}

In [5]:
for ch in caracteres:
  dictCaract[ch] = strOriginal.count(ch)

In [6]:
for i in sorted(dictCaract, key = dictCaract.get, reverse=True):
  print(i, dictCaract[i])

8 33
; 26
4 19
‡ 16
) 16
5 12
6 11
( 10
1 8
† 8
0 6
2 5
9 5
3 4
: 4
? 3
¶ 2
- 1
* 1
. 1

O caractere '8' aparece 33 vezes, seguido pelo caractere ';' (26 vezes). Em inglês, “e” é a letra mais comum, então um bom chute é considerar '8' -> 'E'.

Também: O 'THE' é um artigo bastante comum na língua inglesa, de modo que as substituições ';' -> 'T', '4' -> 'H' parecem ser um bom chute.

In [ ]:
str2= strOriginal.replace('8','E')

In [ ]:
str2 = str2.replace(';','T')

In [ ]:
str2 = str2.replace('4','H')

In [ ]:
print(str2)

53‡‡†305))6THE26)H‡.)H‡)TE06THE†E¶60))E5T1‡(T:‡E†E3(EE)5†TH6(TEE96?TE)‡(THE5)T5†2:‡(TH9562(5-H)E¶ETH0692E5)T)6†E)H‡‡T1(‡9THE0E1TE:E‡1THE†E5TH)HE5†52EE06*E1(‡9THET(EETH(‡?3HTHE)H‡T161T:1EET‡?T